<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li>
				<a href="">TheThinVoice</a>
				<ul>
					<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
					<li><a href="#">Activities</a></li>
					<li><a href="https://www.instagram.com/thethinvoice/">Instagram</a></li>
				</ul>	
			</li>
			
			<li>
				<a href="">TidalEuphoria</a>
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Activities</a></li>
					<li><a href="https://www.instagram.com/tidaleuphoria/">Instagram</a></li>
					<li><a href="#">News</a></li>
				</ul>	
			</li>
			<li>
				<a href="">Science Forum</a>
				<ul>
					<li><a href="#">Undergraduate</a></li>
					<li><a href="#">Graduate</a></li>
					<li><a href="#">Postgraduate</a></li>
					<li><a href="#">News</a></li>
				</ul>	
			</li>
			<li><a href="#">Gallery</a></li>
			<!--
			<li>
				<a href="">Dropdown</a>
				<ul>
					<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam dolore nisl</a></li>
					<li>
						<a href="">Phasellus consequat</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Phasellus consequat</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li>
			-->
			
			<li {% if current[1] == 'aboutme.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/aboutme.html">About Me</a></li>
			<!--
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
			-->
		</ul>
	</nav>
